
<!DOCTYPE html>
<html>
  <head>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/timing.js" ></script>
  </head>
  <body>
    <form action="/posttest" id="input_form">
      <h2> Text to type </h2>
      <p>This is a simple paragraph that is meant to be nice and easy to type which is why there will be no commas no periods or any capital letters so i guess this means that it cannot really be considered a paragraph but just a series of run on sentences this should be enough text for now although i think that i might start making it hard by including some more difficult letters.</p>
      <h2> Type here </h2>
      <textarea name="userinput" form="input_form"></textarea>
      <input type="submit" value="Submit">
    </form>
	<audio controls="controls" autoplay="autoplay" src="/static/music/Music1.mp3"></audio>
  </body>
</html>
