
<!DOCTYPE html>
<html>
  <head>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/timing.js" ></script>
  </head>
  <body>
    <form action="/posttest" id="input_form">
      <h2> Text to type </h2>
      <p> Barnaby The Bear’s my name, never call me Jack or James, I will sing my way to fame, Barnaby the Bear’s my name. Birds taught me to sing, when they took me to their king, first I had to fly, in the sky so high so high, so high so high so high, so — if you want to sing this way, think of what you’d like to say, add a tune and you will see, just how easy it can be. Treacle pudding, fish and chips, fizzy drinks and liquorice, flowers, rivers, sand and sea, snowflakes and the stars are free. </p>
<br>
      <h2> Type here </h2>
      <textarea name="userinput" form="input_form"></textarea>
      <input type="submit" value="Submit">
    </form>
	<audio controls="controls" autoplay="autoplay" src="/static/music/Music2.mp3"></audio>
  </body>
</html>
