
<!DOCTYPE html>
<html>
  <head>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/timing.js" ></script>
  </head>
  <body>
    <form action="/posttest" id="input_form">
      <h2> Text to type </h2>
      <p>None</p>
<br>
      <h2> Do not type here, just click submit </h2>
      <textarea name="userinput" form="input_form"></textarea>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
