
<!DOCTYPE html>

<html>
	<head>

	</head>
	<body>
		<h1>
				{{ cfg["WELCOME_MSG"] }}
		</h1>
        <h2> So what is this all about?</h2>
<hr>
<p> The internet is a hostile place, and with the advent of more complex technologies there are more ways to attack.
 Due to this we need more ways to defend and validate in order to protect our personal information and assets. 
 A common way of doing this is by the use of usernames and passwords. 
 This has, however, over the course of the internet been deprecated as a standalone solution for authentication, and is simply not good enough. 
 Imagine if someone got hold of an old password, that you happened to be using somewhere else.
  They suddenly have access to your account.
   To remediate this, a second step to user identifation and authentication has been established, namely multi-factor authentication. 
   This often employs the use of a second random code to acces your accounts. A second way to do this, is to use biometrics. 
   Biometrics is to use something you have or are, rather than something you know or can produce. 
   Therefore it is less cumbersome than using codes.<br><br> Most people do associate biometrics with fingperprint or face recognition which is often available on smart phones. Another form of biometrics is so called behavioural biometrics where we recognize a person based on his/her behaviour. In this study we will look at one specific behavioural biometrics which is Keystroke Dynamics (KD) and recognizes a person based on his/her typing rhythm. Keystroke Dynamics can be used for gaining access (e.g. by checking if a typed password is both correct and typed in the expected typing rhythm), but also to remove access. The latter is called continuous authentication and can lock a system if the typing behaviour of the current user does no longer match with the typing behaviour of the genuine user.
	  <br><br>
	   When typing, there is an hypothesis that listening to music, or being exposed to external stimuli will change how you are recognized,. Therefore, if better algorithms for recognition can be developed, 
		there is a need to identify the degree to which this applies.		
</p>
<hr>
<h2>
	How to: 
</h2>
<ul>
	<li>
		The first step is to make sure your volume is on. Test here:<br>
		<audio controls="controls" src="/static/music/soundtest.mp3"></audio>
	</li>
	<li>
		Please remove any unneccecary distractions, such as music, animals, people, food, etc. Make sure you to the highest degree are undisturbed when performing this study. Sit on a chair and use a keyboard you are familiar with, sit comfortably.
	</li>
	<li>
		When prompted with a text, please do your best to type the exact text, as if this were something you would write yourself.
	</li>
	<li>
		In some instances, there will be audio playing. If it is not loud enough or if its too loud, feel free to adjust the volume. But please, <b>do not turn the audio off.</b>
	</li>
	<li>
		When you click the sumbit button, you will immediately be forwarded to the next step. If you want to take a break, do NOT click submit.
	</li>
	<li>
		If you want to delete your data at a later point in time, please take note of the followin random user id: {{ userid }}
	</li>
</ul>
<a href="formControl">
			Link to survey form
		</a>
	</body>
</html>
