
<!DOCTYPE html>
<html>
  <head>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/timing.js" ></script>
  </head>
  <body>
    <form action="/api/echo" id="input_form">
      <h2> Text to type </h2>
      <p> I went to the park and saw a tree, it was a big tree and it was very green. I could see a red apple on a high branch so I reached up and picked it off. It was weird how I picked it off, as I am very short. I suppose I just jumped really high.</p>
<br>
      <h2> Type here </h2>
      <textarea name="userinput" form="input_form"></textarea>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>